div#aboutMe{
  font-family: 'Lora', serif;
  margin-top: 8vh;
  max-width: 100vw;
  color: black;

  div#text-display{
      p{
          letter-spacing: .1em;
          font-size: 20px;
          line-height: 1.628571;
          text-align: center;
          img{
              text-align: center;
              padding-top: 2vh;
              max-width: 142px;
              border-radius: 300px;
          }
      }
  }

  div#aboutText{
    height: 351.11px;
    text-align: center;

    h1{
      color: black;
      cursor: pointer;
      font-size: 24px;
      margin-top: 3px;
      letter-spacing: .15em;;
      position: relative;
      text-decoration: none;
    }
    h1.underline{
      text-decoration: underline;
    //   transition: 2s ease-in;
    }
    // h1.underline:after{
    //     // text-decoration: underline;
    //     // position: absolute;
    //     color: black;
    //     left: 0;
    //     content: '';
    //     width: 0;
    //     transition: 3s;
    // }
    // h1.underline:hover:after{
    //     width: 100%;
    // }

  }
}
