div#portfolio-div{
  height: 20vw;
  margin-top: 4vh;
  color: black;

  div.project-display{
    // display: inline-block;
    // text-align: center;

    .project{
      max-width: 28vw;
    }

    // div.project-cards{
    // //   max-height: 169.75px;
    //   height: 100%;
    //   margin: 0 auto;

      h2{
        padding-top: 2vh;
        letter-spacing: .1em;
        text-align: center;
        font-family: 'Lora', serif;
        // background-color:rgba(0,0,0,.1);
      }

    //   p{
    //     background-color:rgba(0,0,0,.1);
    //     margin-bottom: 0;
    //     letter-spacing: .1em;
    //     height: 100%;
    //     padding: 0 10px;
    //     font-size: 16px;
    //     font-family: 'Lora', serif;
    //     font-weight: bolder;
    //   }
    // }
  }
}
