// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #b2a094;

  div#logo-div{
    margin-top: 1vh;
    margin-bottom: 2vh;

    img#logo{
      margin: 0 auto;
      height: 100%;
      max-height: 18vh;
    }
  }

  div.container-fluid{
    ul.nav{
      max-width: 50vw;
      margin: auto;
      display: flex;

      li{
        flex-grow: 1;
        text-align: center;

        a{
          font-size: 19px;
          font-family: 'Source Code Pro', monospace;
          font-weight: bolder;
          letter-spacing: 0.2em;
          color: black;
        }
      }
    }


    .nav > li.active > a{
      background-color: rgba(114, 59, 49, .7);
      border: 1px solid #333333;
      text-decoration: underline;
    }

    .nav-tabs{
        border-bottom: 3px solid #333333;
    }
    .nav-tabs > li.active > a{
      color: black;
    }
    .nav-tabs > li:hover > a{
        border: 1px solid #333333;
        background-color: rgba(114, 59, 49, .2);
    }
    .nav > li.disabled > a{
      text-decoration: line-through;
    }

    .nav > li.disabled > a:focus{
      text-decoration: line-through;
      color:black;
    }
    .nav > li.disabled > a:active{
      pointer-events: none;
      color:black;
    }
    .nav > li.disabled > a:hover{
      color:black;
    }
  }

  @import 'about';
  @import 'portfolio';
  @import 'contact';

  }
