// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: rgba(248, 248, 248, 1);

  nav.navbar{
    border-style: none;

    div.container-fluid{
      min-height: 35vh;
      line-height: 35vh;
      text-align: center;

      ul.navbar-nav{
        float: none;
        display: inline-block;
        vertical-align: bottom;

      }
    }
  }

}
