<div id="aboutMe">

  <div id="aboutPic">
    <%= image_tag("anthony2")%>
  </div>

  <div id="aboutText">
    <p>Freelance Web Developer. Aspiring Musician. New Yorker.</p>
    <br>
    <p>Interests include Photography, Music Production, Skateboarding, Web Development, and Fashion.</p>
    <br>
    <p>My goal is to bring your vision to life by utilizing my knowledge of UX / UI best practices and experience in Front-End/Back-End Web Development.</p>
    <br>
    <p>
      Seeking to be inspired and challanged, following my curiosity, living to learn, and taking each failure in stride.
    </p>
    <br>
    <p>I studied Computer Science for a year at Brooklyn College, before deciding to attend General Assembly's Web Development Immersive and finishing in September 2016.  </p>
  </div>

</div>
