<div id="aboutMe">

  <div id="aboutPic">
    <h1>Anthony Duque</h1>
    <%= image_tag("anthony2", :alt => "Anthony Duque - Web Developer & Designer")%>
    <h1>Web Developer</h1>
  </div>

  <div id="aboutText">

      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1>Web Development Services</h1>

    <!-- <p>Freelance Web Developer. Aspiring Musician. New Yorker.</p>
    <p>Interests include Photography, Music Production, Skateboarding, Web Development.</p>
    <p>I aim to bring your vision to life by utilizing my knowledge of UX / UI best practices and experience in Front-End/Back-End Web Development.</p>
    <p>Seeking to be inspired, following my curiosity, living to learn, and taking each challenge in stride.</p> -->

  </div>

</div>
