<div id="aboutMe">

  <div id="aboutText" class="col-lg-3 col-lg-offset-2 col-sm-6">

      <!-- Info Tabs -->
      <h1 id="whoAmI" class="underline">Who Am I?</h1>
      <br>
      <h1 id="experience">Experience</h1>
      <br>
      <h1 id="service">Web Development Service</h1>
      <br>
      <h1 id="extra">Why Web Development?</h1>
  </div>

  <div class="col-lg-5 col-sm-6" id="text-display">

      <p class="whoAmI active">I'm Anthony! Full-Stack Web Developer based in New York. Seeking to be inspired, following my curiosity, living to learn, and taking each challenge in stride.<br><%= image_tag("anthony2", :alt => "Anthony Duque - Web Developer")%></p>
      <p class="service hidden">I offer affordable Web Development and Design service, from blogs to small businesses, or maintenance and updating.<br>I aim to bring your vision to the web by utilizing my knowledge of UX / UI best practices and experience in Front-End/Back-End Development.<br>Feel free to contact me at my email regarding rates and consultation!</p>
      <p class="experience hidden">I studied Computer Science at Brooklyn College before attending/completing General Assembly's Web Development Immersive in 2016.<br>Some of my skills include: HTML, CSS, Javascript, jQuery, Ruby on Rails, APIs, JSON, SASS/SCSS, Ruby, Databases(PostgresQL/SQlite3/MySQL).</p>
      <p class="extra hidden">My curious nature and passion for technology thrives well in this ever-growing field. Everyday is a learning experience with the many frameworks and languages in existence. What I enjoy the most is creating the project itself, becoming the artist and using the browser as my canvas. I pour my heart into my work to deliver a beautifully designed and user-friendly Website. </p>

  </div>

</div>
