<div id="aboutMe">

  <div id="aboutPic">
    <%= image_tag("anthony")%>
  </div>

  <div id="aboutText">
    <p>Hi, I'm Anthony!</p>
    <p>Web Developer, Aspiring Musician, Urbanite.</p>
    <p>Based in New York, NY.</p>
    <p>When I'm Not Developing etc...</p>
  </div>

</div>
