<div class="container-fluid">
  <div id="contact-div">

    <div class="row">
      <span class="tile email-tile"><a class="email-link link" href="mailto:Duqueawd@gmail.com" target="_blank">Email</a></span>
      <span class="tile github-tile"><a class="github-link link" href="https://github.com/duquea95" target="_blank">Github</a></span>
    </div>

    <div class="row">
      <span class="tile twitter-tile"><a class="twitter-link link" href="https://twitter.com/iAm_aDookie" target="_blank">Twitter</a></span>
      <span class="tile linkedin-tile"><a class="linkedin-link link" href="https://linkedin.com/in/anthony-duque" target="_blank">LinkedIn</a></span>
    </div>

  </div>
</div>
