<div id="contact-div" class="container-fluid">

    <div class="row col-lg-2 col-lg-offset-3" onclick="location.href='mailto:Duquea95@gmail.com'">
        <h1 class="email-link link" href="mailto:Duquea95@gmail.com">Email</h1>
    </div>

    <div class="row col-lg-2 col-lg-offset-2" onclick="location.href='https://github.com/duquea95'">
        <h1 class="github-link link" href="https://github.com/duquea95" target="_blank">Github</h1>
    </div>

    <div class="row col-lg-2 col-lg-offset-3" onclick="location.href='https://twitter.com/aDuque95'">
        <h1 class="twitter-link link" href="https://twitter.com/aDuque95" target="_blank">Twitter</h1>
    </div>

    <div class="row col-lg-2 col-lg-offset-2" onclick="location.href='https://linkedin.com/in/anthony-duque'">
      <h1 class="linkedin-link link" href="https://linkedin.com/in/anthony-duque" target="_blank">LinkedIn</h1>
    </div>

</div>
