<div class="container-fluid">
  <div id="contact-div">
    Contact me at Duqueawd@gmail.com

    <%= form_tag("/", method: "put") do %>
      <%= label_tag(:input, "Write Something") %>
      <%= text_field_tag(:input) %>
      <%= submit_tag("Send") %>
    <% end %>

  </div>
</div>
