<div class="container-fluid">
  <div id="contact-div">

    <div class="row">
      <span class="tile email-tile" onclick="location.href='mailto:Duqueawd@gmail.com'"><a class="email-link link" href="mailto:Duqueawd@gmail.com">Email</a></span>
      <span class="tile github-tile" onclick="location.href='https://github.com/duquea95'"><a class="github-link link" href="https://github.com/duquea95" target="_blank">Github</a></span>
    </div>

    <div class="row">
      <span class="tile twitter-tile" onclick="location.href='https://twitter.com/iAm_aDookie'"><a class="twitter-link link" href="https://twitter.com/aDuque95" target="_blank">Twitter</a></span>
      <span class="tile linkedin-tile" onclick="location.href='https://linkedin.com/in/anthony-duque'"><a class="linkedin-link link" href="https://linkedin.com/in/anthony-duque" target="_blank">LinkedIn</a></span>
    </div>

  </div>
</div>
