<!-- This is the main page navigation bar -->
<div id="navbarDiv">

  <nav id="mainNavbar">
    <ul id="navList">
      <li class="nav_item"><a href="#">About</a></li>
      <li class="nav_item"><a href="#">Experience</a></li>
      <li class="nav_item"><a href="#">Projects</a></li>
      <li class="nav_item"><a href="#">Contact</a></li>
    </ul>
  </nav>

</div>
