<div class="container-fluid">
  <div id="portfolio-div">

    <div class="project-display">

      <%= link_to image_tag("project1.png",:alt => "Pokemon Memory Game",:class => "project"),"https://duquea95.github.io/"%>
      <div class="project-cards">
        <h2 class="project-titles">Pokemon Memory Match</h2>
        <p>
          A Pokemon-themed Memory Game where the player must match all pokemon pairs before the time runs out. <br> This web browser game was built with HTML, CSS, Javascript, and jQuery.
        </p>
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project2", :alt => "Nyum", :class => "project"), "https://nyum.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nyum</h2>
        <p>
          Inspired by Yelp!, this mock-up lets you search for restaurants using three search queries, allows user registration, and updates voting and favoriting. It was built with Ruby on Rails, HTML, SCSS/Sass, PSQL, Bootstrap, and Javascript.
        </p>
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project3", :alt => "Nycycles", :class => "project"), "https://nycycles.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nycycles</h2>
        <p>
          All CitiBike stations in New York are marked on Google Map with information regarding the station's available bikes, empty slots, and street address. This project was built using Ruby on Rails, HTML, SCSS/Sass, and Javascript.
        </p>
      </div>

    </div>

  </div>
</div>
