<div class="container-fluid">
  <div id="portfolio-div">

    <div class="project-display">

      <%= link_to image_tag("project1.png",:alt => "Pokemon Memory Game",:id => "project1"),"https://duquea95.github.io/"%>
      <div class="project-cards">
        <h2 class="project-titles">Pokemon Memory Match</h2>
        <p>
          Pokemon Memory Match is a Pokemon-themed Memory Game that requires users to match all pokemon cards on the board before time runs out. <br> This web browser was game built with HTML, CSS, Javascript, and jQuery.
        </p>
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project2", :alt => "Nyum", :id => "project2"), "https://nyum.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nyum</h2>
        <p>
          Nyum allows users to locate venues near them or by address. User's can register to use our rating system and favorite locations. This web app was built with Ruby on Rails, HTML, SCSS/Sass, PSQL, Bootstrap, and Javascript.
        </p>
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project3", :alt => "Nycycles", :id => "project3"), "https://nycycles.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nycycles</h2>
        <p>
          Nycycles displays all CitiBike owned bike stations in New York City using Google Maps. Location markers contain information regarding each station's available bikes, empty slots, and street address. This was built using Ruby on Rails, HTML, SCSS/Sass, and Javascript.
        </p>
      </div>

    </div>

  </div>
</div>
