<div class="container-fluid">
  <div id="portfolio-div">

    <div class="project-display">

      <%= link_to image_tag("project1.png",:alt => "Match-em All!",:class => "project"),"https://duquea95.github.io/"%>
      <div class="project-cards">
        <h2 class="project-titles">Match-em All!</h2>
        <!-- <p>
          A Pokemon-themed memory game where users must match all pokemon cards before time runs out. This web browser game was built with HTML, CSS, Javascript, and jQuery.
        </p> -->
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project2", :alt => "Nyum", :class => "project"), "https://nyum.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nyum</h2>
        <!-- <p>
          Nyum allows users to locate venues near them or by address. User's can register to rate and favorite locations. The web app was built with Ruby on Rails, HTML, SCSS/Sass, PSQL.
        </p> -->
      </div>

    </div>

    <div class="project-display">

      <%= link_to image_tag("project3", :alt => "Nycycles", :class => "project"), "https://nycycles.herokuapp.com" %>
      <div class="project-cards">
        <h2 class="project-titles">Nycycles</h2>
        <!-- <p>
          Nycycles displays all CitiBike stations in New York with information on the station's available bikes, empty slots, and street address. Built with Ruby on Rails, HTML, SCSS/Sass, and Javascript.
        </p> -->
      </div>

    </div>

  </div>
</div>
